    {% if clgs %}
    {% for clg in clgs%}
    <tr data-id="{{ clg.code }}" class="align-middle">
        {% if editable %}
            <td style="color: gray;">{{loop.index + (page - 1) * 10}}</td>
        {% endif %}
        <td>{{clg.code}}</td>
        <td>{{clg.name}}</td>
        {% if editable %}
            <td>
                <div class="btn-group container-lg">
                    <button type="button" 
                        class="btn btn-primary" 
                        data-bs-toggle="modal" 
                        data-bs-target="#editModal" 
                        data-bs-name="Edit College"
                        data-bs-form="#CollegeForm"
                        data-bs-id="{{ clg.code }}"
                        data-bs-url="/college/edit/{{ clg.code }}">Edit</button>

                    <button type="button" class="btn btn-danger btn-del" 
                        data-bs-toggle="modal" 
                        data-bs-target="#confirmDeleteModal" 
                        data-bs-id="{{ clg.code }}"
                        data-bs-url="/college/delete/{{ clg.code }}"
                        data-csrf-token="{{ csrf_token() }}">Delete</button>
                </div>
                
            </td>
        {% endif %}
    </tr>
    {% endfor %}
    {% else %} 
    <tr class="align-middle">
        <td colspan="8">
            <div class="text-muted fs-3">
                <i class="bi bi-info-circle"></i> No Colleges found.
            </div>
        </td>
    </tr>
{% endif %}