{%if table == "students"%}
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('student.student', page=page-1, search=search, gender_filter=gender_filter, year_lvl_filter=year_lvl_filter, course_filter=course_filter, sort=sort, order=order) }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        {% endif %}

        {% if page_range[0] > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('student.student', page=1, search=search, gender_filter=gender_filter, year_lvl_filter=year_lvl_filter, course_filter=course_filter, sort=sort, order=order) }}">1</a>
            </li>
            {% if page_range[0] > 2 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
        {% endif %}

        {% for p in page_range %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('student.student', page=p, search=search, gender_filter=gender_filter, year_lvl_filter=year_lvl_filter, course_filter=course_filter, sort=sort, order=order) }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if page_range[-1] < total_pages %}
            {% if page_range[-1] < total_pages - 1 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('student.student', page=total_pages, search=search, gender_filter=gender_filter, year_lvl_filter=year_lvl_filter, course_filter=course_filter, sort=sort, order=order) }}">{{ total_pages }}</a>
            </li>
        {% endif %}

        {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('student.student', page=page+1, search=search, gender_filter=gender_filter, year_lvl_filter=year_lvl_filter, course_filter=course_filter, sort=sort, order=order) }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
{% endif %}

{% if table == "program" %}
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('course.course', page=page-1, search=search, sort=sort, order=order) }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        {% endif %}

        {% if page_range[0] > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('course.course', page=1, search=search, sort=sort, order=order) }}">1</a>
            </li>
            {% if page_range[0] > 2 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
        {% endif %}

        {% for p in page_range %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('course.course', page=p, search=search, sort=sort, order=order) }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if page_range[-1] < total_pages %}
            {% if page_range[-1] < total_pages - 1 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('course.course', page=total_pages, search=search, sort=sort, order=order) }}">{{ total_pages }}</a>
            </li>
        {% endif %}

        {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('course.course', page=page+1, search=search, sort=sort, order=order) }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
{% endif %}

{% if table == "college" %}
        {% if page > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('college.college', page=page-1, search=search, sort=sort, order=order) }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
        {% endif %}

        {% if page_range[0] > 1 %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('college.college', page=1, search=search, sort=sort, order=order) }}">1</a>
            </li>
            {% if page_range[0] > 2 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
        {% endif %}

        {% for p in page_range %}
            <li class="page-item {% if p == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('college.college', page=p, search=search, sort=sort, order=order) }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if page_range[-1] < total_pages %}
            {% if page_range[-1] < total_pages - 1 %}
                <li class="page-item disabled"><span class="page-link">…</span></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('college.college', page=total_pages, search=search, sort=sort, order=order) }}">{{ total_pages }}</a>
            </li>
        {% endif %}

        {% if page < total_pages %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('college.college', page=page+1, search=search, sort=sort, order=order) }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        {% endif %}
{% endif %}