{% extends "subbase.html"%}

{% block head %}
    <title>Course table</title>
{% endblock %}

{% block header %}
    <h1>Course Dashboard</h1>
{% endblock %}

{% block table_name %}
    <h3>College Table</h3>
{% endblock %}

{% block add %}
<button type="button" 
    class="btn btn-primary" 
    data-bs-toggle="modal" 
    data-bs-target="#addModal" 
    data-bs-name="Add College" 
    data-bs-form="#CollegeForm"
    data-bs-url="/college/add">Add College</button>
{% endblock %}

{% block th %}
    <th scope="col">#</th>
    <th scope="col">Code</th>
    <th scope="col">Name</th>

{% endblock %}

{% block td %}
<tbody id="table-body" data-url="/college/table">
    <tr class="align-middle">
        <td colspan="8" >
            <div class="text-muted fs-3">
                <i class="bi bi-info-circle"></i> No Colleges found.
            </div>
        </td>
    </tr>
</tbody>  
{% endblock %}

{% block addmodal %}
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">Add/Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="CollegeForm" method="POST" role="form" novalidate>
                {{ form.hidden_tag() }}
                
                <div class="modal-body">
                    {% include "includes/college_form.html" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block editmodal %}
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel">Add/Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="CollegeForm" method="POST" role="form" novalidate>
                {{ form.hidden_tag() }}
                
                <div class="modal-body">
                    {% include "includes/college_form.html" %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}
